@font-face {
    font-family: 'Luna';
    src: url(/assets/fonts/Luna-Light.woff2) format('woff2');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Luna';
    src: url(/assets/fonts/Luna-Regular.woff2) format('woff2');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Luna';
    src: url(/assets/fonts/Luna-Medium.woff2) format('woff2');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Luna';
    src: url(/assets/fonts/Luna-SemiBold.woff2) format('woff2');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Luna';
    src: url(/assets/fonts/Luna-Bold.woff2) format('woff2');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Luna';
    src: url(/assets/fonts/Luna-Bold.woff2) format('woff2');
    font-weight: 900;
  }